body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    border: 2px solid #0C4C38; /*temporary measure*/
    border-radius: 10px;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: #FF4B39;
    border: none;
    color: #F9E3CA;
}

.header, .footer {
    background-color: #42A085;
    height: 50px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
}

.logo {
    color: #0C4C38;
    padding: 10px;
}

.header {
    justify-content: center;
    gap: 200px;
}

.intro_block {
    background-color:#0C4C38; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    color: #42A085;
}

.intro_text {
    width: 380px;
}

.link_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;
    color: #0C4C38;
    background-color: #F9E3CA;
}

.link_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.link_card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42A085;
    color: #0C4C38;
}

.quote_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 600px;
}

.quote {
    font-style: italic;
    font-size: 28px;
    font-weight: 100;
    text-align: justify;
    color: #F9E3CA;
}

.quote_att {
    font-size: 16px;
    font-weight: 900;
    align-self: flex-end;
}

.cta_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    margin: 50px;
    width: 800px;
    height: 100px;
    background-color: #FF4B39;
    color: #ffffff;
    border-radius: 10px;
    padding: 25px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.cta_button {
    background-color: #F9E3CA;
    color: #42A085;
    flex-shrink: 0;
}

.footer {
    justify-content: center;
    color: #0C4C38;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color:#F9E3CA;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}